<!doctype html>
<html>
<head>
  <meta http-equiv=Content-Type content="text/html; charset=UTF-8"/>
  <style type="text/css">

  </style>
</head>
<body class="pdf-page">
<div id="content">
  <h><%= @article.title %></h>
  <div><%= @article.content %></div>
</div>
</body>
</html>
